<div>
  <div class="submit-form">
    <div>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="post.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <input
          class="form-control"
          id="category"
          required
          [(ngModel)]="post.category"
          name="category"
        />
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <input
          class="form-control"
          id="content"
          required
          [(ngModel)]="post.content"
          name="content"
        />
      </div>

      <button (click)="savePost()" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
